:root {
	--blue: #1da1f2;
	--black: #14171a;
	--dark-gray: #657786;
	--light-gray: #aab8c2;
	--extra-light-gray: #e1e8ed;
	--extra-extra-light-gray: #f5f8fa;
	--white: #ffffff;
	--blue-light: #9bd1f9;

	--green: #14c814;
	--red: #e11919;
	--spacing: 1rem;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

button {
	border: none;
	cursor: pointer;
	background: transparent;
}

img {
	width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.spacer {
	padding: 0 1rem;
}
