.row {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 1rem;
}

.colum-nav {
	display: flex;
	justify-content: end;
}

.icon {
	display: flex;
	gap: 0.3rem;
	flex-direction: column;
	font-size: 1.8rem;
	align-items: center;
	margin-top: 5rem;
}

.icon i {
	color: var(--black);
	display: flex !important;
	font-size: 100%;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	transition: all 300ms ease;
	&:hover {
		background: var(--blue-light);
		color: var(--blue);
	}
	&.active {
		color: var(--blue);
	}
}

.colum-body {
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--extra-light-gray);
	border-left: 1px solid var(--extra-light-gray);
}

.main-body-title {
	border-bottom: 1px solid var(--extra-light-gray);
	padding: 1rem;
}

.overlay.active {
	opacity: 0.5;
	background: #000;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	position: fixed;
}

/* toast css */

#toast-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	max-width: 300px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: none;
	z-index: 3;
}

/* post pin style */
.pin-btn.active i {
	color: var(--blue);
}

.pin-text > div {
	font-size: small;
	display: flex;
	gap: 5px;
	align-items: center;
	i {
		font-size: small;
	}
}

.pin-post {
	display: flex;
	gap: 1rem;
	border-bottom: 0.5rem solid var(--extra-light-gray);
	flex-direction: column;
}

.main-body-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
