.postMainContainer {
	display: flex;
	padding: var(--spacing);
	gap: 1rem;
	border-bottom: 0.5rem solid var(--extra-light-gray);
}

.imgContainer {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
}

.textareaContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#postbox {
	border: none;
	flex-grow: 1;
	resize: none;
	font-size: 1.2rem;
}

#submitPostBtn {
	padding: 7px 15px;
	border-radius: 40px;
	border: none;
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	&:disabled {
		background-color: var(--blue-light);
		cursor: inherit;
	}
}

.main-post-container {
	display: flex;
	flex-direction: column;
}

.post-container {
	display: flex;
	gap: 1rem;
	padding: var(--spacing);
	border-bottom: 1px solid var(--extra-light-gray);
}

.post-body {
	flex-grow: 1;
}

.post-body span {
	padding-right: 3px;
	&:first-child {
		font-weight: 600;
	}
}

.postFooter {
	display: flex;
	align-items: center;
}
.post-btn-container {
	flex-grow: 1;
	display: flex;
	width: 100%;
}

.post-btn-container button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	line-height: 5px;
	transition: all 0.3s ease;
	i {
		font-size: 1rem;
		color: var(--dark-gray);
		z-index: -1;
	}
	&:hover {
		background-color: var(--blue-light);
	}
}

.post-btn-container.red button.active {
	color: red;
	i {
		color: red;
	}
}
.post-btn-container.green button.active {
	color: green;
	i {
		color: green;
	}
}
