.postMainContainer {
	display: flex;
	padding: var(--spacing);
	gap: 1rem;
	border-bottom: 0.5rem solid var(--extra-light-gray);
}

.imgContainer {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
}

.textareaContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#postbox {
	border: none;
	flex-grow: 1;
	resize: none;
	font-size: 1.2rem;
}

#submitPostBtn {
	padding: 7px 15px;
	border-radius: 40px;
	border: none;
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	&:disabled {
		background-color: var(--blue-light);
		cursor: inherit;
	}
}

.main-post-container {
	display: flex;
	flex-direction: column;
}

/* home page post container */
.post-container {
	display: flex;
	flex-direction: column;
	padding: var(--spacing);
	border-bottom: 1px solid var(--extra-light-gray);

	.retweet-container {
		padding-left: 2rem;
		font-size: 0.8rem;
		color: var(--dark-gray);
	}

	.post-content {
		display: flex;
		gap: 1rem;

		.post-body {
			flex-grow: 1;

			.post-header {
				display: flex;
				justify-content: space-between;
				i {
					padding-left: 8px;
				}
			}

			span {
				padding-right: 3px;
				&:first-child {
					font-weight: 600;
				}
			}
		}
		.postFooter {
			display: flex;
			align-items: center;

			.post-btn-container {
				flex-grow: 1;
				display: flex;
				width: 100%;
				button {
					border: none;
					background-color: transparent;
					cursor: pointer;
					padding: 5px;
					border-radius: 50%;
					line-height: 5px;
					transition: all 0.3s ease;
					&:hover {
						background-color: var(--blue-light);
					}
				}
				&.red button.active {
					color: var(--red);
					i {
						color: var(--red);
					}
				}
				&.green button.active {
					color: var(--green);
					i {
						color: var(--green);
					}
				}
			}
		}
	}
}
/* home page post container */

/* popup window */
.popup-container,
.pinned-popup-container,
.unpinned-popup-container,
.upload-profile-pic-container,
.upload-cover-pic-container,
.delete-popup-container {
	width: 30%;
	position: fixed;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0 0 15px 0 #8080804a;
	transform: translate(135px, -600px);
	transition: all 0.5s ease;
	pointer-events: none;
	z-index: 2;
	.popup-title {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}
	& > p,
	input {
		padding: 1rem;
		border: 1px solid var(--extra-light-gray);
	}
	.preview-picture {
		max-height: 500px;
		display: none;
	}
	&.active {
		transition: all 0.5s ease;
		pointer-events: inherit;
		transform: translate(135px, 10px);
	}
	.popup-button-container {
		display: flex;
		justify-content: flex-end;
		gap: 6px;
		padding: 1rem;
		button {
			padding: 8px 14px;
			background-color: var(--dark-gray);
			border-radius: 5px;
			color: white;
			&:hover {
				background-color: var(--blue);
			}
		}
		#replay-btn {
			background-color: var(--blue);
			&:disabled {
				background-color: var(--blue-light);
				cursor: inherit;
			}
		}
	}
	.postMainContainer {
		border-bottom: 1px solid var(--extra-light-gray);
		border-top: 1px solid var(--extra-light-gray);
	}
	.post-container {
		border-top: 1px solid var(--extra-light-gray);
		border-bottom: initial;
	}
}

.followBtn {
	font-size: 1.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	color: var(--blue) !important;
	border: 1px solid var(--blue);
	padding: 5px var(--spacing);
	border-radius: 50px;
	&:hover {
		background: var(--blue-extra-light);
	}
	&.following:not(a) {
		background-color: var(--blue);
		color: #fff !important;
	}
}
