.secContainer {
	display: flex;
	padding: 1rem;
	gap: 1rem;
	border-bottom: 5px solid var(--extra-light-gray);
}

.imgContainer {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
}

.textareaContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#postbox {
	border: none;
	width: 100%;
	resize: none;
	font-size: 1.2rem;
}

#submitPostBtn {
	padding: 7px 15px;
	border-radius: 40px;
	border: none;
	background-color: var(--blue);
	color: white;
	cursor: pointer;
	&:disabled {
		background-color: var(--blue-light);
		cursor: inherit;
	}
}
