include mixins/mixins.pug
link(rel="stylesheet", href="/style/home.css")

+postCreate(true)
.main-post-container
+popupWindow()
+deletePopupWindow()

    //- each val in postsData
    //-     +submitPost(userData, val)
script(src="/js/home.js") 


