include mixins/mixins.pug
link(rel="stylesheet", href="/style/home.css")

+postCreate()
.main-post-container
    //- each val in postsData
    //-     +submitPost(userData, val)
script(src="/js/home.js") 


