extends layout/header.pug

block header 
    link(rel="stylesheet", href="style/login.css")

block body 
    //- img(src="https://static.cdnlogo.com/logos/t/48/twitter.png", alt="", srcset="")
    .container 
        .wrapper 
            h2 Log in to Twitter 
            form(action="", method="post") 
                input#emailInput(type="text", name="email", placeholder="Username or email", require='')
                input#passwordInput(type="password", name="password",placeholder='Password', require='')
                p
                    input#remember(type="checkbox", name="")
                    span Remember me 
                        a(href="forgot-password") Forgot password?
                input(type="submit", value="Login")
            p Don't have an account? 
                a(href="register") Sign up >>

