extends layout/header.pug

block header
    link(rel="stylesheet", href="/style/main-page.css")
block body 
    .container 
        .row 
            .colum.colum-nav 
                include nav.pug
            .colum.colum-body 
                .hading.spacer
                    h3 Home page
                include home.pug
            .colum.colum-side-bar 
                h2 side bar 
    script(src="/js/common.js") 
