extends layout/header.pug

block append header
    link(rel="stylesheet", href="/style/main-page.css")

block body 
    script. 
        const user = !{loginUserJs}

    .container 
        .row 
            .colum.colum-nav 
                - const userName = loginUser.userName
                include nav.pug
            .colum.colum-body 
                .main-body-title.spacer
                    .page-title
                        h3 #{pageTitle}
                    .title-menu
                        if logoActive
                            a(href="/messages/new") 
                                i.fa-solid.fa-comment-medical
                block mainBody
            .colum.colum-side-bar 
                h2 side bar 
    #toast-container
    .overlay

    script(src="/js/common.js") 
    block script

