.icon 
    a(href="http://") 
        i.active.fa-brands.fa-twitter
    a(href="http://") 
        i.fa-solid.fa-house
    a(href="http://") 
        i.fa-solid.fa-magnifying-glass
    a(href="http://") 
        i.fa-regular.fa-bell
    a(href="http://") 
        i.fa-regular.fa-envelope
    a(href="http://") 
        i.fa-regular.fa-user
    a(href="http://") 
        i.fa-solid.fa-arrow-right-from-bracket