.icon 
    - console.log(profileUser)
    a(href="/") 
        i.active.fa-brands.fa-twitter
    a(href="/") 
        i.fa-solid.fa-house
    a(href="search") 
        i.fa-solid.fa-magnifying-glass
    a(href="notification") 
        i.fa-regular.fa-bell
    a(href="message") 
        i.fa-regular.fa-envelope
    a(href=`/profile/${userName}`) 
        i.fa-regular.fa-user
    a(href="/logout") 
        i.fa-solid.fa-arrow-right-from-bracket