extends main-page.pug

block append header
    //- link(rel="stylesheet", href="/style/home.css")
    
block mainBody
    .main-container
        img.not-found(src="https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-2048x998-yjzeuy4v.png", alt="", srcset="")
        h1.not-found Page Not Found!
block script
    //- script(src="/js/home.js")