extends main-page.pug

block append header
    link(rel="stylesheet", href="/style/notificationCss.css")
    
block mainBody
    .listOfNotification 
block script
    script(src="/js/notificationJs.js")


